@charset "ISO-8859-1";

.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}

#rightBlockDiv {
    /* style="width: 70%;" */
    background-color: #f9f9f9;
    padding: 10px;
    border: 5px solid #ddd;
    float: right;
    width: 85%;
}

#leftBlockDiv {
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ddd;
    float: left;
    width: 20%;
}